<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

<td th:each="user : ${user}">

    <label>Username: </label>
    <h3 th:text="${user.getUsername()}">VALUE</h3>
    </br>
    <label>Email: </label>
    <h3 th:text="${user.getEmail()}">VALUE</h3>
    </br>
    <label>Password: </label>
    <h3 th:text="${user.getPassword()}">VALUE</h3>
    </br>
    <label>Role: </label>
    <h3 th:each="role : ${user.getRoles()}" th:text="${role.getName()}">VALUE</h3>
</td>
<hr>

<form th:action="@{/logout}">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>